
/*default screen size*/
#container1 {

  display: grid;
  grid-template-columns: 60vw 40vw;
  grid-template-rows: 60vh;
  width: 100vw;
}

#text {
  grid-column: 1/ span 1;
  grid-row: 1;
  text-align: center;
  padding-top: 15%;
  /* background-color: antiquewhite; */
 
}

#graphic {
  background-image: url("/images/graphic2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  grid-column: 2/span 1;
  grid-row: 1;
  object-fit: contain;

}

#graphic img {
  height: auto;
  width: 50%;
}

#tagline{
  font-size: 20pt;
  
}

.quote{
  font-size: 15pt;
  font-weight: 500;
  color: rgb(43, 40, 40);
}

 /* CSS styles for iPhone 12 Pro portrait mode */
@media only screen and (max-width: 390px) {

  #container1 {
    grid-template-rows: 25vh 25vh;
    grid-template-columns: 100vw;
  }

  #graphic{
    background-image: url("/images/graphic2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    grid-row: 1/span 1;
    grid-column: 1;
    /* background-color: #f3b373; */
  }

  #text{
    /* background-color: beige; */
    grid-row: 2 /span 1;
    grid-column: 1;
    text-align: center;
  
    padding-top: 20px;
    display:block;
    /* border: 2px solid #b1ccbf; */
    border-radius: 10px;
    margin: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  
  }

  #tagline{
    font-size:15pt;
  }
  

}

/*other styling*/
#links {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.button1 {
  appearance: none;
  background-color: #f3b373;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  min-height:50px;
  margin: 0;
  min-width: 0;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.button1:hover {
  color: rgb(18, 17, 17);
  background-color: #f6cca3;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}


/* description card */
.description {
  background-color: #f2f2f2;
  border-top: 4px solid #b1ccbf;
  margin: 0px 0 0 0;
  padding: 12px;
  min-height: 200px;
  text-align: center;

}

.description2{
  background-color: #f2f2f2;
  border-top: 4px solid #b1ccbf;
  margin: 0px 0 0 0;
  padding: 12px;
  min-height: 200px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.description2 img{
  width:20%;
  height: auto;
}


/* animal card */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  margin: 20px;
  border-radius: 5px;
  position:relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.cardimg {
  width: 70%;
  height: auto;
  
}

.container {
  padding: 20px;
  background-color: #e39a52;

}


#camel{
  /* box-shadow: 0 6px 10px 0 rgb(228, 179, 123,0.5); */
}

#squirrel{
  /* box-shadow: 0 6px 10px 0 rgba(242, 169, 126, 0.5); */
}

#bear{
  /* box-shadow: 0 6px 10px 0 rgba(155, 227, 238, 0.5); */
}

.dialog{
  width:50px;
  height: auto;
}