<head></head>
<body>
  <footer class="d-flex justify-content-between align-items-center">
    <!--Search bar, link to search page-->
    <div class="footer-search d-flex flex-column ms-3">
      <a class="search" href="/search">
        <img src="/images/footer-search.png" height="40" />
      </a>
      <label class="mb-0">Search</label>
    </div>

    <!--Rate button-->
    <div class="footer-rate d-flex flex-column">
      <a class="rate" href="/upload">
        <img src="/images/plus.svg" height="40" />
      </a>
      <label class="mb-0">Rate</label>
    </div>

    <!--Link to profile page-->
    <div class="profile d-flex flex-column me-3">
      <a class="footer-profile" href="/profile">
        <img src="/images/footer-profile.png" height="40" />
      </a>
      <label class="mb-0">Profile</label>
    </div>
  </footer>
</body>
