<head></head>
<body>
  <footer>
    <!--Search bar, link to search page-->
    <a class="search ms-3" href="/search">
      <img src="/images/footer-search.png" height="40" />
    </a>

    <!--Upload score button-->
    <button
      onclick="location.href='/upload'"
      type="button"
      class="btn btn-success btn-outline-warning mx-auto btn-lg fs-4"
    >
      Upload Your Score
    </button>

    <!--Link to profile page-->
    <a class="footer-profile me-3" href="/profile">
      <img src="/images/footer-profile.png" height="40" />
    </a>
  </footer>
</body>
