<head></head>
<body>
    <div class="navbar navbar-light navbar-custom">
            <!--Link to main page-->
            <!-- Need to Change  -->
            <a class="navbar-brand fs-4 ms-2" href="/main">
                <!--logo-->
                <img src="/images/mainLogo.png" height="50" />
                <span id="com-logo">Howdy Weather</span></a>

                <!--Link to notification Page-->
                <a class="nav-notification me-2" href="/notification">
                    <img src="/images/header-notification.png" height="40" />
                </a>
    </div>
</body>