<div class="information-section">
  <p>Location :  <span> Location </span></p>
</div>
<table>
  <thead class="table">
    <tr>
      <th></th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Howdy Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="/images/logoWhite.png" width="40px"></td>
      <td>3.5</td>
      <td>2.0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td><img src="/images/logoWhite.png" width="40px"></td>
      <td>3.5</td>
      <td>2.0</td>
      <td>80%</td>
    </tr>
    <tr>
      <td><img src="/images/logoWhite.png" width="40px"></td>
      <td>3.5</td>
      <td>2.0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td><img src="/images/logoWhite.png" width="40px"></td>
      <td>3.5</td>
      <td>2.0</td>
      <td>70%</td>
    </tr>
    
  </tbody>
</table>
</div>