.wrapper{
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #FAFAFA;
}
#container {
    flex: 1;
    min-width: 390px;
    display: flex;    
    flex-direction: column;
}

#welcome {
    text-align: center;
    
    padding-top: 50px;
}

#welcomeText1{
    font-size: 33pt;
}


.welcomeText2 {
    font-size: 15pt;
}

#locationText{
    font-size: 20pt;
}

.divTitle {
    font-size: 30pt;
}

.info-contents{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}


#content1 h2{
    font-size: 17pt;
    
}

#content1 p {
    font-size: 14pt;
}


#content1 {
    /* background-color: blueviolet; */
    text-align: center;    
    border: 1px solid black;
    border-radius: 6px;
    padding: 7%;
    background-color: White;
    box-shadow : 5px 5px 10px 0;
    width: 30%;
}

.data-show{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.data-show i{
    font-size: 50px;
}

.icon{
    font-size: 50px
}

#content2 h2{
    font-size: 17pt;
}

#content2 p{
    font-size:14pt;
}

#content2{
    /* background-color: brown; */
    text-align: center;    
    border: 1px solid black;
    border-radius: 6px;
    padding: 5%;
    background-color: White;
    box-shadow : 5px 5px 10px 0;
    width: 30%;
    background-image: url("/images/camel.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.mainpage-data{
    font-size: 30px;
}

@media screen and (max-width : 500px) {
    
    .info-contents{
        display: flex;        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    #content1 {
        /* background-color: blueviolet; */
        text-align: center;    
        border: 1px solid black;
        border-radius: 6px;
        padding: 7%;
        background-color: White;
        box-shadow : 5px 5px 10px 0;
        width: 80%;
    }

    #content2{
        /* background-color: brown; */
        text-align: center;    
        border: 1px solid black;
        border-radius: 6px;
        padding: 5%;
        background-color: White;
        box-shadow : 5px 5px 10px 0;
        width: 80%;
        background-image: url("/images/camel.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: right bottom;
        margin-top: 20px;
    }
}