.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#container {
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-template-rows: 3% 20% 15% 55%;
    flex: 1;
    min-width: 100vw;

}



#welcome {
    background-color: rgb(173, 204, 204);
    border-radius: 15px;
    grid-row: 2/ span 1;
    grid-column: 2/ span 1;
   
   
    padding-left: 2%;

    background-image: url("/images/cloud.png");
    overflow: hidden;
    background-repeat: repeat-x;
    background-size: contain;
}

#middle{
    grid-row: 3/ span 1;
    grid-column: 2/ span 1;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content1 {
    /* background-color: rgb(192, 162, 221); */
    grid-row: 4/ span 1;
    grid-column: 2/ span 1;
    border-radius: 15px;
    transition: box-shadow 300ms;
    
    border: 2px rgb(209, 206, 206) solid;


}

#content1:hover {

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#divider {

  position: absolute;
    left: 50%;
    top: 47%;
    bottom: 16%;
    border-left: 2px solid rgb(184, 183, 183);

}

