@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {

  font-family: "Josefin Sans", sans-serif;
  background-color: #AACDBE;

  text-align: center;
}

.custom-rounded {
    border-radius: 20px;
  }


.wrapper {
  height: 100vh;
}


.welcome {
  text-align: center;
}

#welcomeText1 {
  font-size: 33pt;
  background-color: #D3E4CD;

}

#welcomeText2 {
  font-size: 15pt;
} */

/* .divTitle {
  font-size: 30pt;
} */

/* #content1 h2 {
  font-size: 17pt;
}

#content1 p {
  font-size: 14pt;
}

#content1 {

  text-align: center;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  padding-top: 20%;
}

#content2 h2 {
  font-size: 17pt;
}

#content2 p {
  font-size: 14pt;
} */

/* #content2 {

  text-align: center;
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  padding-top: 20%;
} */
