#container {
    display: grid;
    height: 77vh;
    grid-template-columns: 10vw 40vw 40vw 10vw ;
    grid-template-rows: 30vh 45vh;
}

#welcome {
    text-align: center;
    grid-row: 1/ span 1;
    grid-column: 1/ span 4;
    /* background-color: rgb(204, 205, 239); */
    padding-top: 30px;
}

#welcomeText1{
    font-size: 33pt;
}

.welcomeText2 {
    font-size: 15pt;
}

.divTitle {
    font-size: 30pt;
}

#content1 h2{
    font-size: 17pt;
}

#content1 p {
    font-size: 14pt;
}

#content1 {
    /* background-color:rgb(246, 238, 228); */
    text-align: center;
    grid-row: 2/ span 1;
    grid-column: 1/ span 2;
}

#content2 h2{
    font-size: 17pt;
}

#content2 p{
    font-size:14pt;
}

#content2{
    /* background-color: rgb(215, 247, 236); */
    text-align: center;
    grid-row: 2/ span 1;
    grid-column: 3/ span 2;
}

#footer{
    grid-column: 1/span 4;
    grid-row: 5/ span 1;
    background-color: #AACDBE;
}

