.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:20px ;
}

.information-section{
  font-size: 25pt;
  height: 20%;
}


table{
  border-collapse: collapse;
  border-spacing: 0 50px;
  border: 1px solid black;
  width: 100%; 
}

th, td{
  border-bottom: 1px solid black;
  align-items: center;
  
}

