.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container{
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

.information-section{
  display: flex;
  flex-direction: column;
  height:30%;
  margin-top:30pt;
  font-size: 25pt;
}

.information-wrapper{
  display: flex;
  flex-direction: column;
  
}
.information-temperature{
  margin-bottom: 40pt;
}
.info{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 20pt;
}