.btn-secondary {
  background-color: #fbc687;
  border: 1px solid #f4f7c5;
  border-radius: 15px;
  color: white;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: 93vw;

  flex: 1;
  min-width: 390px;
}

.range-container {
  display: flex;
  align-items: center;
}

.range-label {
  flex: 1;
  text-align: center;
}



