.btn-secondary {
  background-color: #fbc687;
  border: 1px solid #f4f7c5;
  border-radius: 15px;
  color: white;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: 93vw;

  flex: 1;
  min-width: 390px;
}


.edit-profile-photo-btn{
  position: absolute;
  z-index: 1;
  left: 134px;
  top: 284px;
}

.range-container {
  display: flex;
  align-items: center;
}

.range-label {
  flex: 1;
  text-align: center;
}


/* Radio Button CSS */
.profile-label{
  margin: 30px;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}


/* achievement badge*/
.badge123{
  height:120px;
}