@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  overflow: scroll;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container-1{
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100vw;
  padding: 10px;
}



.map-container{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
#location-search{
  width: 100%;
  height: 50px;
}

#map{
  margin-top: 50pt;
  height: 80%;
}

.scoreList-container{
  width:40%;
}

#searchpage-comment-list{
  width: 100%;
}

.information-section{
  font-size: 25pt;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}


table{
  border-collapse: collapse;
  border-spacing: 0 50px;
  border: 1px solid black;
  width: 100%; 
  text-align: center;
}

th, td{
  border-bottom: 1px solid black;
  align-items: center;
  
}

#invisible{
  display: none;
}

@media screen and (max-width : 900px) {
  .wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .container-1{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 10px;
  }

  .map-container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  #location-search{
    width: 100%;
  }
  
  

  .scoreList-container{
    width:100%;
    height: 50%;
  }
}