.bg-info {
    background-color: #AACDBE !important;
}

.btn-info {
    background-color: #FBC687;
    color: white;
}

.btn-success {
    background-color: #FBC687;
    color: white;
}

.nav-notification {
    background-color: #AACDBE;
}


footer {
    background-color: #AACDBE;  
}

