@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
}

#city{
  font-size: 20pt;
}
content {
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
}

#container {
  flex: 1;
  min-width: 390px;
  display: flex;
  background-color: #f2fafa;
  flex-direction: column;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 20pt;
}

#current-date{
font-size: 20pt;
}

#time{
  font-size: 15pt;
}
#infomation-wrapper {
  width: 150%;
}

.forecast{
  color: rgb(32, 65, 167);
}
.data-show{
  color: rgb(32, 65, 167);
}
/* The switch - the box around the slider */
.switch-left {
  display: none;
  position: relative;
  width: 56px;
  height: 28px;
}

.switch-right {
  display: none;
  position: relative;
  width: 56px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  background: #d3d3d3;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

input:checked + .slider {
  background-color: #fbc687;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fbc687;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.temp-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.humidity-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.information-wrapper {
  width: 100%;
}



.btn-primary:hover {
  background-color: #aacdbe;
  transform: translateY(-2px);
  color: whitesmoke;
  border-color: white;
}

.btn-primary {
  background-color: #f4f7c5;
  border-radius: 15px;
  color: slategrey;
  box-sizing: border-box;
  border-color: #aacdbe;
}

.divTitle {
  font-size: 2.3rem;
}

.info-contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#content1 {
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  padding: 3%;
  /* background-color: White; */
  /* box-shadow: 5px 5px 10px 0; */
  width: 40%;
  height: 55%;

}

#content1 img{
  height:auto;
  width:10%;

}

#content2 {
  border: 1px solid black;
  border-radius: 6px;
  padding: 2%;
  background-color: White;
  box-shadow: 5px 5px 10px 0;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-card-body img{
  height: 40%;
}


.card-body{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.data-show {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.data-show i {
  font-size: 50px;
}

.icon {
  font-size: 50px;
}

#content2 h1 {
  font-size: 2.5rem;
}

#content2 p {
  font-size: 14pt;
}

.mainpage-data {
  font-size: 30px;
}

/* Jasper New Design */

.temp-wrapper{
  margin-bottom: 40px;
}

.humidity-wrapper{
  margin-bottom: 20px;
}

.switch-right{
  margin-left: 20px;
}

.switch-left{
  margin-right: 20px;
}

#submit-btn{
  margin-top: 30px;
}

/* Jasper New Design -- end*/

@media screen and (max-width: 500px) {
  .info-contents {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }


  #content1 {
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8%;
    /* background-color: White; */
    box-shadow: 5px 5px 10px 0;
    width: 90%;
    height: 40%;
  }
  #content1 img{
    width: 20%;
    height: auto;
  }

  #content2 {
    border: 1px solid black;
    border-radius: 6px;
    padding: 1%;
    background-color: White;
    box-shadow: 5px 5px 10px 0;
    width: 90%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .left-card-body{
    align-items: center;
  }

  .left-card-body img{
    width: 60%;
    height: 40%;
  }

  .card-body{
    width: 100%;
  }

  .temp-wrapper{
    margin-bottom: 40px;
  }

  .humidity-wrapper{
    margin-bottom: 20px;
  }

  .switch-right{
    margin-left: 20px;
  }

  .switch-left{
    margin-right: 20px;
  }

  .information-wrapper {
    width: 50%;
  }

  #submit-btn{
    margin-top: 10px;
  }
}