.custom-rounded {
  border-radius: 20px;
}

#city{
  font-size:20pt;
}


/* #content1 {

  text-align: center;
  border-radius: 6px;
  background-color: White;
  width: 80%;
} */

#content1 {
  text-align: center;
  /* border: 1px solid; */
  border-radius: 6px;
  /* padding: 3%; */
  /* width: 20%; */
  /*height: 50%; */
}

