.navbar-custom {
  height: 9vh;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 8px;
  flex-wrap: nowrap;
  min-width: 390px;
}

@media only screen and (max-width: 550px) {
  #com-logo {
    display: none;
  }
}
