.bg-info {
    background-color: #AACDBE;
}

.btn-success {
    background-color: #F4F7C5;
    color:black;
}
.nav-notification {
    background-color: #AACDBE;
}


footer {
    display: flex;
    background-color: #AACDBE;  
    height: 8vh;
    align-items: center;
    min-width: 390px;
}

