.wrapper{
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container{
  flex: 1;
}

.circle-button{
  height: 80px;
}

.navbar-toggler{
  --bs-navbar-toggler-border-color: none;
}

.col-sm-3{
  text-align: center;
}